<div class="thumbnail">
    
    <a href="#"><img src="" alt=""></a>
    <div class="caption">
        <h4>
        {%if result.tripID %}
            Trip ID: <a href="#">{{ result.tripID }}
        {% else %}
            Trip Id: <a href="#">{{ result.tripId}}
        {% endif %}</a> </h4>

        <!-- Trip Name -->
        {%if result.tripName %}
            <h3>{{ result.tripName }}</h3>
        {% endif %}

        <!-- Rating -->
        {%if result.rating %}
            <p>Rating: {{ result.rating }}</p>
        {% endif %}

        <!-- Comments -->
        {%if result.comment %}
            <p>Comments: {{ result.comment }}</p>
        {% endif %}

        <!-- Start Date -->
        {%if result.startDate %}
            <p>Start Date: {{ result.startDate }}</p>
        {% endif %}

        <!-- End Date -->
        {%if result.endDate %}
            <p>End Date: {{ result.endDate }}</p>
        {% endif %}

        <!-- Start Location -->
        {%if result.startLocation %}
            <p>Start Location: {{ result.startLocation }}</p>
        {% endif %}

        <!-- User's Name -->
        {%if result.name %}
            <h3><p>{{ result.name }}</p></h3>
        {% endif %}

        <!-- User's username -->
        {%if result.username %}
            <p>{{ result.username }}</p>
        {% endif %}

        <!-- User's Location-->
        {%if result.hometown %}
            {% if result.country %}
                <p>{{ result.hometown }}, {{ result.country }}</p>
            {% endif %}
        {% endif %}

        <!-- User's DOB -->
        {%if result.dateOfBirth %}
            <p>Birthday: {{ result.dateOfBirth }}</p>
        {% endif %}

        <!-- User's DOB -->
        {%if result.aboutMe %}
            <p>Birthday: {{ result.aboutMe }}</p>
        {% endif %}

    </div>
</div>