<tr>
    <td><p>Name: {{ user.name }}</p></td>
    <td><p>Date of birth: {{ user.dateOfBirth }}</p></td>
    <td><p>Current city: {{ user.hometown }}, {{ user.country }}</p></td>
    <td><p>Bio: {{ user.email }}</p></td>
</tr>