<tr>
    <td><h3>Name: {{ user.name }}</h3></td>
    <td><h4>Date of birth: {{ user.dateOfBirth }}</h4></td>
    <td><h5>Current city: {{ user.hometown }}, {{ user.country }}</h5></td>
    <td><h5>Email: {{ user.email }}</h5></td>
    <td><h5>Bio: {{ user.aboutMe }}</h5></td>
    <td><h5>Average rating: {{ user.rating }}</h5></td>
    <td><p>Karma points: {{ user.karma }}</p></td>
</tr>