<tr>
    <td><h3>Name: {{ user.name }}</h3></td>
    <td><h4>Date of birth: {{ user.dateOfBirth }}</h4></td>
    <td><h5>Current city: {{ user.hometown }}, {{ user.country }}</h5></td>
    <td><h6>Email: {{ user.email }}</h6></td>
    <td><p>Bio: {{ user.aboutMe }}</p></td>
</tr>