<tr>
    <td><p>Name: {{ profile.name }}</p></td>
    <td><p>Date of birth: {{ profile.dateOfBirth }}</p></td>
    <td><p>Current city: {{ profile.hometown }}, {{ profile.country }}</p></td>
    <td><p>Bio: {{ profile.aboutMe }}</p></td>
</tr>