{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            {% for index, user in users %}
                {% include 'profile/partials/profile_item.twig' with {user: user} %}
            {% endfor %}
        </div>

        <div class="col-md-8">
            <h3>Your Trips</h3>
            {% if trips %}
                <div class="well">
                    <table class ="table">
                        <thead>
                        <tr>
                            <th>Trip Id</th>
                            <th>Trip Name</th>
                            <th>From</th>
                            <th>To</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for index, trip in trips %}
                            <tr>
                                <td><a href="{{ path_for('trip.getTrip', {tripId: trip.id})}}" method="post">{{ trip.id }}</a></td>
                                <td>{{ trip.tripName }}</td>
                                <td>{{ trip.from }}</td>
                                <td>{{ trip.to }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>


                    </table>
                </div>

             {% else %}
                <p> You currently have no trips </p>
             {% endif %}

        </div>
    </div>

{% endblock %}