{% extends 'templates/app.twig' %}

{% block content %}

    <div class ="row">
        <div class="col-md-8">
            <h2>Add activities for this segment</h2>
            <h3>TripName: {{ tripName }}</h3>


            <form action="{{ path_for('addLocationActivities', {email: email, locationId1: startLocationId, locationId2: endLocationId, tripId: tripId, tripName: tripName}) }}" method="post">

                <div class="form-group">

                    <label for="nameActivityStart">Name of Activity for: {{ startLocation }}</label>

                    <input type="text" name="nameActivityStart" id="nameActivityStart" class="form-control">

                </div>


                <div class="form-group">

                    <label for="placeActivityStart">Place of Activity for: {{ startLocation }}</label>

                    <input type="text" name="placeActivityStart" id="placeActivityStart" class="form-control">

                </div>

                <div class="form-group">

                    <label for="dateActivityStart">Date of Activity for: {{ startLocation }}</label>

                    <input type="text" name="dateActivityStart" id="dateActivityStart" class="form-control">

                </div>


                <div class="form-group">

                    <label for="nameActivityEnd">Name of Activity for: {{ endLocation }}</label>

                    <input type="text" name="nameActivityEnd" id="nameActivityEnd" class="form-control">

                </div>


                <div class="form-group">

                    <label for="placeActivityEnd">Place of Activity for: {{ startLocation }}</label>

                    <input type="text" name="placeActivityEnd" id="placeActivityEnd" class="form-control">

                </div>

                <div class="form-group">

                    <label for="dateActivityEnd">Date of Activity for: {{ startLocation }}</label>

                    <input type="text" name="dateActivityEnd" id="dateActivityEnd" class="form-control">

                </div>


                <button type="submit" class="btn btn-default">add details</button>




            </form>

        </div>
        <div class="col-md-4">

            <h4><a href = "{{ path_for('trip.getProfile', {email: email}) }}" method="get"> Return to profile </a></h4>


        </div>

    </div>

{% endblock %}