{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <h1> Trip Information </h1>
            {% for index, name in tripNames %}
                <h2> {{ name.tripName }} </h2>
            {% endfor %}
            <h3 style="display: inline-block;">Locations</h3>
            {% if locations %}
                <div class="well">
                    <table class ="table">
                        <thead>
                        <tr>
                            <th>City</th>
                            <th>Country</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for index, location in locations %}
                            <tr>
                                <td id="location-city-{{index}}">{{ location.city }}</td>
                                <td id="location-country-{{index}}" > {{ location.country }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>


                    </table>
                </div>

            {% else %}
                <p> This trip has no locations information </p>
            {% endif %}
            <h3 style="display: inline-block;">Traveling Information</h3>
            {% if travelInfo %}
                <div class="well">
                    <table class ="table">
                        <thead>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Type</th>
                            <th>From Date</th>
                            <th>To Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index, travel in travelInfo %}
                            <tr>
                                <td id="travel-from-{{ index }}">{{ travel.fromCity }}, {{travel.fromCountry}}</td>
                                <td id="travel-toLocation-{{ index }}">{{ travel.toCity }}, {{ travel.toCountry }} </td>
                                <td id="travel-typeTravel-{{ index }}">{{ travel.typeTravel }}</td>
                                <td id="travel-startDate-{{ index }}">{{ travel.fromDate }}</td>
                                <td id="travel-finishDate-{{ index }}">{{ travel.toDate }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>


                    </table>
                </div>

            {% else %}
                <p> This trip has no Traveling Information </p>
            {% endif %}
            <h3 style="display: inline-block;">Accommodations</h3>
            {% if accommodations %}
                <div class="well">
                    <table class ="table">
                        <thead>
                        <tr>
                            <th>City</th>
                            <th>Country</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Rating</th>
                            <th>From Date</th>
                            <th>To Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index, accom in accommodations %}
                            <tr>
                                <td>{{ accom.city }} </td>
                                <td>{{ accom.country }} </td>
                                <td>{{ accom.name }}</td>
                                <td>{{ accom.type }}</td>
                                <td>{{ accom.rating }}</td>
                                <td>{{ accom.from }}</td>
                                <td>{{ accom.to }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>


                    </table>
                </div>

            {% else %}
                <p> This trip has no accommodations </p>
            {% endif %}
            <h3 style="display: inline-block;">Activities</h3>
            {% if activities %}
                <div class="well">
                    <table class ="table">
                        <thead>
                        <tr>
                            <th>City</th>
                            <th>Country</th>
                            <th>Activity Name</th>
                            <th>Activity Place</th>
                            <th>Cost</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index, activity in activities %}
                            <tr>
                                <td id="activity-city-{{ index }}">{{ activity.city}} </td>
                                <td id="activity-country-{{ index }}">{{ activity.country }} </td>
                                <td id="activity-activity-name-{{ index }}">{{ activity.activityName}}</td>
                                <td id="activity-activity-place-{{ index }}">{{ activity.activityPlace}}</td>
                                <td id="activity-cost-{{ index }}">{{ activity.cost}}</td>
                                <td id="activity-date-{{ index }}">{{ activity.date }}</td>
                                <td>
                                    <button style="float: right;" type="button" class="btn btn-info" data-toggle="modal" data-target="#activitiesModal" onclick="showActivitiesModal( {{ index }} )">
                                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                    </button> 
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>


                    </table>
                </div>

            {% else %}
                <p> This trip has no accommodations </p>
            {% endif %}

        </div>

    <div class="col-md-4">

        <h4><a href = "{{ path_for('trip.getProfile', {email: userEmail}) }}" method="get"> Return to profile </a></h4>
        <h4><a href = "{{ path_for('trip.getAllTrips', {email: userEmail}) }}" method="get"> View all Trippi Trips </a></h4>


        <h3 style="display: inline-block;">Users on trip </h3>
        {% if users %}
            <div class="well">
                <table class ="table">
                    <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for index, user in users %}
                        <tr>
                            <td>{{ user.userName }} </td>
                            <td>{{ user.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>


                </table>
            </div>

        {% else %}
            <p> This trip has no users </p>
        {% endif %}


    </div>

</div>

<!-- Travel Modal -->
<div class="modal fade" id="activitiesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Edit Travel</h4>
        <span id="activity-modal-index" style="visibility: hidden;"><>
      </div>
      <div class="modal-body">        
        <div class="input-group input-group-sm" style="display: inline-block;">
          <span>City:</span> 
          <input id="activity-city-input" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" disabled>
        </div>
        <div class="input-group input-group-sm" style="display: inline-block;">
          <span>Country:</span> 
          <input id="activity-country-input" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" disabled>
        </div>
        <div class="input-group input-group-sm" style="display: inline-block;">
          <span>Activity Name:</span> 
          <input id="activity-activity-name-input" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
        </div>
        <div class="input-group input-group-sm" style="display: inline-block;">
          <span>Activity Place:</span> 
          <input id="activity-activity-place-input" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" disabled>
        </div>
        <div class="input-group input-group-sm" style="display: inline-block;">
          <span>Cost:</span> 
          <input id="activity-cost-input" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" >
        </div>
        <div class="input-group input-group-sm" style="display: inline-block;">
          <span>Date:</span> 
          <input id="activity-date-input" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
        </div>

      </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="updateActivity( )">Update</button>
    </div>
    </div>
  </div>
</div>

{% endblock %}