{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <h1>All Trippi Trips</h1>
            {% if trips %}
                <div class="well">
                    <table class ="table">
                        <thead>
                        <tr>
                            <th>Trip Id</th>
                            <th>Trip Name</th>
                            <th>From</th>
                            <th>To</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for index, trip in trips %}
                            <tr>
                                <td><a href="{{ path_for('trip.getUneditedTrip', {tripId: trip.tripId, email: userEmail})}}" method="get">{{ trip.tripId }}</a></td>
                                <td>{{ trip.tripName }}</td>
                                <td>{{ trip.from }}</td>
                                <td>{{ trip.to }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>


                    </table>
                </div>

            {% else %}
                <p> No trips to show! </p>

            {% endif %}
        </div>




        <div class="col-md-4">


            <h4><a href = "{{ path_for('trip.getProfile', {email: userEmail}) }}" method="get"> Return to profile </a></h4>


            <form action="{{ path_for('trip.joinTrip')}}" method="post">

                <h3>Join a Trip</h3>

                <div class="form-group">

                    <label for="email">Your Email</label>

                    <input type="email" name="email" id="email" class="form-control">

                </div>

                <div class="form-group">

                    <label for="tripId">Trip ID</label>

                    <input type="text" name="tripId" id="tripId" class="form-control">

                </div>

                <button type="submit" class="btn btn-default">Join</button>
            </form>


        </div>



    </div>


{% endblock %}

